@import url('./cores.css');
@import url('./reset.css');

body{
  background-image: url('/src/assets/svg/bg_ricky_and_morty.svg');
  font-family: "Inter", sans-serif;
}

.loading, .error, .no-results {
  padding: 20px;
  text-align: center;
  height: 100vh;
  color: var(--amarelo);
}
